.allcards{
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}


.card{
    border: none;
}


.confirmButton {
    margin-top: 10px;
}

.btn-secondary {
    margin-bottom: 10px;
}

body{
    background-color: #f7ecda;
}

.container {
    margin-bottom: 50px;
    margin-top: 20px;
}
